<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css" />
</head>

<body>


	<h1>employee created</h1>
	<h1>Welcome!</h1>
	
	<p>Your username is <b><p th:text="${userName}"></p></b>Please await for your account to be approve by a manager. In the meantime please return to the home page. </p>
	<a href="index.html"><button>Return to login</button></a>
	
	
</body>
</html>