<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<h1>You are in get time cards from a get request</h1>
<h2> your permission level is: </h2><h2 th:text=${permissions}></h2>
    <head>
    <title>Get time cards</title>
</head>
<body>

<form>

    <table border="1">
        <tr>
            <td>
                Date
            </td>
            <td>
                Start
            </td>
            <td>
                End
            </td>
            <td>
                Hour Day Total 
            </td>
            <td>
                Total Hours
            </td>

        </tr>
        <tr>
            <td>
                <input >
            </td>
            <td>
                <input >
            </td>
            <td>
                <input>
            </td>
            <td>
                <input >
            </td>
            <td>

            </td>

        </tr>
    </table>

</form>

<table th:each="employee: ${needEditEmployees}">
        	<tr >
        		<th th:text="${employee.getFirstName+' '+employee.getLastName}" th:id="${employee.getId}"></th>
        	</tr>
        	<tr><td>Start Time<td>
        	<td>End Time<td></tr>
        	<tr th:each="timecard: ${employee.getTimeCards}" th:id="timecard.getTimeCardId">
        	<td th:text=${timecard.getStartTime}></td>
        	<td th:text=${timecard.getEndTime}></td>
        	<td><button th:id="${employee.getId+'_'+timecard.getTimeCardId}" class="approve_timecard_btn">Approve</button></td>
        	</tr>
</table>

</body>
</html>