<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<h1>You are in get time cards from a get request</h1>
<h2> your permission level is: </h2><h2 th:text=${permissions}></h2>
    <head>
    <title>Get time cards</title>
</head>
<body>

<form>


</form>

<table th:each="timecard: ${timeCards}">

        	<tr><td>Start Time<td>
        	<td>End Time<td></tr>
        	<td th:text=${timecard.getStartTime}></td>
        	<td th:text=${timecard.getEndTime}></td>
        	<td><button th:id="${timecard.getTimeCardId}" class="approve_timecard_btn">Approve</button></td>
        	</tr>

</table>

</body>
</html>