<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Time Login</title>
    <link rel="stylesheet" type="text/css" href="styles/stylesheet.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> 
</head>
<body>
<!-- This is served by default from the server -->
<h1>Employee Time Login</h1>
    <nav>
      <form method="post" action="/login">
        <section>
          <label for="myName">Username: </label>
          <input type="text" name="myName" id="myName" required>
        </section>
        <section>
        	<p th:text="${error}"></p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password" required>
        </section>
        <input type="submit" id="mySubmit" value="Login">
      </form>
    <b>
      <a class="button" href="/createemployee.html">Sign Up</a> &nbsp;
      <a class="button" href="/finduser">Forgot password or username?</a>
    </b>
</nav>
</body>
</html>
